.vs/
./Nubank-recreating/Nubank-recreating/bin
./Nubank-recreating/Nubank-recreating/obj
./Nubank-recreating/Nubank-recreating.Android/bin
./Nubank-recreating/Nubank-recreating.Android/obj
./Nubank-recreating/Nubank-recreating.iOS/bin
./Nubank-recreating/Nubank-recreating.iOS/obj 